---
import Layout from "../layouts/Layout.astro";
import DragAndDrop from "../components/DragAndDrop";
---

<Layout title="My Joiner PDF">
  <div class="w-full">
    <DragAndDrop client:load />
  </div>
</Layout>

<style></style>