---
import GithubIcon from '../icons/Github.astro'
---

<header class="w-full flex justify-between items-start">
<div class="pr-10">
  <h1
    class="text-3xl sm:text-4xl md:text-7xl font-extrabold leading-tight pb-3"
  >
    My Joiner PDF
  </h1>
  <span>Une tus PDFs de forma fácil y segura, sin <b>almacenamiento local ni en la nube.</b></span>
</div>
<div class="transition-transform hover:scale-90">
  <a href="https://github.com/andresflorez16/my-joiner-pdf" target="_blank">
    <GithubIcon />
  </a>
</div>
</header>
<div class="w-full h-0.5 bg-gray-500 my-5"></div>
